<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminIStrator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://harvesthq.github.io/chosen/docsupport/jquery-3.2.1.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css">
    <script>$(function(){ $('select').chosen(); })</script>
    <!--Библиотки для поиска в dropdown list (jquery + jquery css)-->
</head>
<body class="d-flex flex-column h-100">
<header class="p-1 m-1 border-bottom bg-light">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/main}" class="nav-link px-2 link-dark">Главная страница</a></li>
                <li><a th:href="@{/management/main}" class="nav-link px-2 link-secondary">Управление пользователями</a></li>
                <li><a th:href="@{/management/recovery}" class="nav-link px-2 link-dark">Восстановление пользователей</a></li>
                <li><a th:href="@{/administration}" class="nav-link px-2 link-dark">Администрирование</a></li>
                <li><a th:href="@{/monitoring/scripts}" class="nav-link px-2 link-dark">Скрипты</a></li>
                <li><a th:href="@{/monitoring/scripts/active}" class="nav-link px-2 link-dark">Активные скрипты</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" class="btn btn-primary" th:value="Выход"\>
                </form>
            </div>
        </header>
    </div>
</header>

<h1>1)</h1>
<h5>Добавление/изменение группы:</h5>

<div class="align-content-end">
    <form th:method="PATCH" th:action="@{/management/main/success-group}" th:object="${group}">

        <input type="number" th:field="*{group_id}" id="id" th:hidden="true">
        Введите название группы: <input type="text" th:field="*{group_name}" id="group_name" placeholder="Имя "/>
        <div style="color: red" th:if="${#fields.hasErrors('group_name')}" th:errors="*{group_name}">Name Error</div>
        <br>
        Отделение:
        <select th:field="*{department}" class="dropdown">
            <option value="" label="Выберите отделение" th:if="not ${change_flag}"></option>
            <option th:each="dep : ${departments}"
                    th:value="${dep.department_id}"
                    th:utext="${dep.department_name}">
            </option>
        </select>
<!--        <div style="color: red" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department Error</div>-->
        <br>
        <input type="submit" value="OK">

    </form>
</div>

<!--Добавить удаление из базы насовсем, заполнять пустой группой!!!!-->


<footer class="footer mt-auto py-3 bg-light d-flex border-top">
    <div class="col-md-4 mx-auto w-auto justify-content-center">
        <span class="mb-3 mb-md-0 text-muted text-center">© 2023 Пшеничный А.И., ИС-Б19</span>
    </div>
</footer>

</body>
</html>