<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminIStrator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://harvesthq.github.io/chosen/docsupport/jquery-3.2.1.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css">
    <script>$(function () {
        $('select').chosen();
    })</script>
    <!--Библиотки для поиска в dropdown list (jquery + jquery css)-->
</head>
<body class="d-flex flex-column h-100">
<header class="border-bottom" style="background-color: #0053bc">
    <div class="container" >
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/main}" class="nav-link px-2 link-light">Главная страница</a></li>
                <li><a th:href="@{/management/main}" class="nav-link px-2 link-info">Управление пользователями</a>
                </li>
                <li><a th:href="@{/management/recovery}" class="nav-link px-2 link-light">Восстановление
                    пользователей</a></li>
                <li><a th:href="@{/administration}" class="nav-link px-2 link-light">Администрирование</a></li>
                <li><a th:href="@{/monitoring/scripts}" class="nav-link px-2 link-light">Скрипты</a></li>
                <li><a th:href="@{/monitoring/scripts/active}" class="nav-link px-2 link-light">Активные скрипты</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" class="btn" style="background-color: #00bcef; color: whitesmoke" th:value="Выход" \>
                </form>
            </div>
        </header>
    </div>
</header>

<p>Форма добавления студента </p>
<div class="w-50 align-self-center m-3">
    <form th:method="PATCH" th:action="@{/management/main/success-student}" th:object="${student}">

        <input type="number" th:field="*{student_id}" id="id" th:hidden="true">
        <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"
                   placeholder="Введите от 2 до 25 символов"/>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>

        <div class="mb-3">
            <label for="surname" class="form-label">Фамилия</label>
            <input type="text" class="form-control" th:field="*{surname}" id="surname"
                   placeholder="Введите от 2 до 35 символов"/>
            <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
        </div>

        <div class="mb-3">
            <label for="middle_name" class="form-label">Отчество</label>
            <input type="text" class="form-control" th:field="*{middle_name}" id="middle_name"
                   placeholder="Введите от 2 до 30 символов"/>
            <div style="color: red" th:if="${#fields.hasErrors('middle_name')}" th:errors="*{middle_name}">Middle_name Error</div>
        </div>

        <div class="mb-3">
            <label for="group" class="form-label">Группа</label>
            <select th:field="*{group}" class="form-select" id="group">
                <option th:each="groups : ${groups}"
                        th:value="${groups.group_id}"
                        th:text="${groups.group_name}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="work_room" class="form-label">Кабинет</label>
            <select th:field="*{work_room}" class="form-select" id="work_room">
                <option th:each="wr : ${WorkRooms}"
                        th:value="${wr.work_room_id}"
                        th:text="${wr.name}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<footer class="footer mt-auto py-3 bg-light d-flex border-top">
    <div class="col-md-4 mx-auto w-auto justify-content-center">
        <span class="mb-3 mb-md-0 text-muted text-center">© 2023 Пшеничный А.И., ИС-Б19</span>
    </div>
</footer>

</body>
</html>