<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="main.css" th:href="@{main.css}" />-->
    <link rel="stylesheet" type="text/css" media="all" href="/templates/css/main.css" th:href="@{/templates/css/main.css}" />
</head>
<body>
    <h1>Welcome to proselyte Spring Security course</h1>
<p>This text for testing <strong>RAAAAAAARGH</strong></p>
</body>
</html>