<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminIStrator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!--    <script type="text/javascript" src="scripts/tableSearches.js"></script>     &lt;!&ndash;Ошибка: No mapping for GET /scripts/tableSearsec.js&ndash;&gt;-->

    <script>
        function tableSearchStudents() {
            var phrase = document.getElementById('search-text');
            var table = document.getElementById('students-table');
            var regPhrase = new RegExp(phrase.value, 'i');
            var flag = false;
            for (var i = 1; i < table.rows.length; i++) {
                flag = false;
                for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                    flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                    if (flag) break;
                }
                if (flag) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                }
            }
        }
    </script>



</head>
<body class="d-flex flex-column h-100">
<header class="p-1 m-1 border-bottom bg-light">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/main}" class="nav-link px-2 link-dark">Главная страница</a></li>
                <li><a th:href="@{/management_main}" class="nav-link px-2 link-secondary">Управление пользователями</a></li>
                <li><a th:href="@{/management_recovery}" class="nav-link px-2 link-dark">Восстановление пользователей</a></li>
                <li><a th:href="@{/administration}" class="nav-link px-2 link-dark">Администрирование</a></li>
                <li><a th:href="@{/monitoring}" class="nav-link px-2 link-dark">Мониторинг</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" class="btn btn-primary" th:value="Выход"\>
                </form>
            </div>
        </header>
    </div>
</header>


<h1>1)</h1>
<h5>Список активных пользователей с функциями добавления и изменения, а также удаления доступа:</h5>

<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Users:</span></div>   <!--Вот сюда добавить поиск-->
        <input class="form-control" type="text" placeholder="Введите фамилию, имя, группу или отделение" id="search-text" onkeyup="tableSearchStudents()">
        <table class="table table-striped table-hover" id="students-table">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Группа</th>
                <th>Отделение</th>
                <th>Логин</th>
                <th>Доступ</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="std : ${students}">
                <td th:utext="${std.surname}"></td>
                <td th:utext="${std.name}"></td>
                <td th:utext="${std.middle_name}"></td>
                <td th:utext="${std.group.group_name}"></td>
                <td th:utext="${std.group.department.department_name}"></td>
                <td th:utext="${std.login}"></td>
                <td th:utext="${std.access}"></td>
                <td><a th:href="@{/edit-student/{id}(id=${std.student_id})}" th:method="get"
                       class="btn btn-success custom-width">изменить</a></td>
                <td>
                    <form th:method="PATCH" th:action="@{/delete-student/{id}(id=${std.student_id})}">
                        <input type="submit" value="Удалить" class="btn btn-danger custom-width">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <a th:href="@{/add-student}">Добавить студента</a>
        &emsp;&emsp;
        <a th:href="@{/add-group-of-students}">Добавить группу студентов</a>
    </div>
</div>


<h1>2)</h1>
<h5>Список групп с функциями добавления и изменения, а также удаления доступа:</h5>

<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Groups:</span></div>   <!--Вот сюда добавить поиск-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Группа</th>
                <th>Отделение</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grp : ${groups}">
                <td th:utext="${grp.group_name}"></td>
                <td th:utext="${grp.department.department_name}"></td>
                <td><a th:href="@{/edit-group/{id}(id=${grp.group_id})}" th:method="get"
                       class="btn btn-success custom-width">изменить</a></td>
                <td>
                    <form th:method="PATCH" th:action="@{/delete-group/{id}(id=${grp.group_id})}">
                        <input type="submit" value="Удалить" class="btn btn-danger custom-width">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <a th:href="@{/add-group}">Добавить группу</a>
    </div>
</div>

<h1>3)</h1>
<h5>Список отделений с функциями добавления и изменения, а также удаления доступа:</h5>

<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Departments:</span></div>   <!--Вот сюда добавить поиск-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Отделение</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dep : ${departments}">
                <td th:utext="${dep.department_name}"></td>
                <td><a th:href="@{/edit-department/{id}(id=${dep.department_id})}" th:method="get"
                       class="btn btn-success custom-width">изменить</a></td>
                <td>
                    <form th:method="PATCH" th:action="@{/delete-department/{id}(id=${dep.department_id})}">
                        <input type="submit" value="Удалить" class="btn btn-danger custom-width">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <a th:href="@{/add-department}">Добавить отделение</a>
    </div>
</div>


<h1>4)</h1>
<h5>Список преподавателей/администраторов с функциями добавления и изменения, а также удаления доступа:</h5>
<!--В будущем можно разбить преподавателей и администраторов на отдельные таблицы, если в этом будет смысл-->
<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Masters:</span></div>   <!--Вот сюда добавить поиск-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Роль</th>
                <th>Статус</th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mstr : ${masters}">
                <td th:utext="${mstr.surname}"></td>
                <td th:utext="${mstr.name}"></td>
                <td th:utext="${mstr.middle_name}"></td>
                <td th:utext="${mstr.role}"></td>
                <td th:utext="${mstr.status}"></td>
                <td><a th:href="@{/edit-master/{id}(id=${mstr.master_id})}" th:method="get"
                       class="btn btn-success custom-width">изменить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <a th:href="@{/add-master}">Добавить преподавателя/администратора</a>
    </div>
</div>


<!--<h1>1)</h1>-->
<!--<h5>Добавление одного пользователя:</h5>-->
<!--<form method="POST" action="add_one_user" th:object="${student}">-->

<!--  Имя: <input type="text" th:field="*{name}" id="name" placeholder="Имя "/>-->
<!--  <br>-->
<!--  Фамилия: <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия "/>-->
<!--  <br>-->
<!--  Отчество: <input type="text" th:field="*{middle_name}" id="middle_name" placeholder="Отчество "/>-->
<!--  <br>-->
<!--  Группа:-->
<!--  <select th:field="*{group}">-->
<!--    <option value=""> Выберите группу</option>-->
<!--    <option th:each="groups : ${groups}"-->
<!--            th:value="${groups.group_id}"-->
<!--            th:text="${groups.group_name}">-->
<!--    </option>-->
<!--  </select>-->
<!--  <br>-->
<!--  Отделение:-->
<!--  <select th:field="*{department}">-->
<!--    <option value=""> Выберите отделение</option>-->
<!--    <option th:each="departments : ${departments}"-->
<!--            th:value="${departments.department_id}"-->
<!--            th:utext="${departments.department_name}">-->
<!--    </option>-->
<!--  </select>-->
<!--  <br>-->
<!--  Логин: <input type="text" th:field="*{login}" id="login" placeholder="Логин "/>-->
<!--  <br>-->
<!--  Пароль: <input type="text" th:field="*{password}" id="password" placeholder="Пароль "/>-->
<!--  <br>-->
<!--  Кабинет: <input type="text" th:field="*{work_room}" id="work_room" placeholder="Кабинет "/>-->
<!--  <br>-->

<!--  <input type="submit" value="OK">-->

<!--</form>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h1>2)</h1>-->
<!--<h5>Добавление одной группы:</h5>-->
<!--<div class="align-content-end">-->
<!--  <form method="POST" action="add_one_group" th:object="${group}">-->
<!--    Введите название группы: <input type="text" th:field="*{group_name}" id="g_name" placeholder="Имя "/>-->
<!--    <br>-->
<!--    <input type="submit" value="OK">-->
<!--  </form>-->
<!--</div>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h1>3)</h1>-->
<!--<h5>Добавление одного отделения:</h5>-->
<!--<div class="align-content-end">-->
<!--  <form method="POST" action="add_one_department" th:object="${department}">-->
<!--    Введите название отделения: <input type="text" th:field="*{department_name}" id="d_name" placeholder="Имя "/>-->
<!--    <br>-->
<!--    <input type="submit" value="OK">-->
<!--  </form>-->
<!--</div>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h1>4)</h1>-->
<!--<h5>Добавление одного преподавателя/администратора:</h5>-->
<!--<div class="align-content-end">-->
<!--  <form method="POST" action="add_one_master" th:object="${master}">-->

<!--    Имя: <input type="text" th:field="*{name}" id="m_name" placeholder="Имя "/>-->
<!--    <br>-->
<!--    Фамилия: <input type="text" th:field="*{surname}" id="m_surname" placeholder="Фамилия "/>-->
<!--    <br>-->
<!--    Отчество: <input type="text" th:field="*{middle_name}" id="m_middle_name" placeholder="Отчество "/>-->
<!--    <br>-->
<!--    Группа:-->
<!--    <select th:field="*{role}">-->
<!--      <option value=""> Выберите роль</option>-->
<!--      <option th:each="role : ${roles}"-->
<!--              th:value="${role.role_id}"-->
<!--              th:text="${role.role_name}">-->
<!--      </option>-->
<!--    </select>-->
<!--    <br>-->
<!--    Логин: <input type="text" th:field="*{login}" id="m_login" placeholder="Логин "/>-->
<!--    <br>-->
<!--    Пароль: <input type="text" th:field="*{password}" id=m_password" placeholder="Пароль "/>-->
<!--    <br>-->

<!--    <input type="submit" value="OK">-->

<!--  </form>-->
<!--</div>-->


<footer class="footer mt-auto py-3 bg-light d-flex border-top">
    <div class="col-md-4 mx-auto w-auto justify-content-center">
        <span class="mb-3 mb-md-0 text-muted text-center">© 2023 Пшеничный А.И., ИС-Б19</span>
    </div>
</footer>

</body>
</html>