<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminIStrator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--    <script type="text/javascript" src="scripts/tableSearches.js"></script>     &lt;!&ndash;Ошибка: No mapping for GET /scripts/tableSearsec.js&ndash;&gt;-->

    <script>
        function tableSearchStudents() {
            var phrase = document.getElementById('search-text');
            var table = document.getElementById('students-table');
            var regPhrase = new RegExp(phrase.value, 'i');
            var flag = false;
            for (var i = 1; i < table.rows.length; i++) {
                flag = false;
                for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                    flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                    if (flag) break;
                }
                if (flag) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                }
            }
        }
    </script>


</head>
<body class="d-flex flex-column h-100">
<header class="p-1 m-1 border-bottom bg-light">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/main}" class="nav-link px-2 link-dark">Главная страница</a></li>
                <li><a th:href="@{/management/main}" class="nav-link px-2 link-dark">Управление пользователями</a></li>
                <li><a th:href="@{/management/recovery}" class="nav-link px-2 link-secondary">Восстановление
                    пользователей</a></li>
                <li><a th:href="@{/administration}" class="nav-link px-2 link-dark">Администрирование</a></li>
                <li><a th:href="@{/monitoring}" class="nav-link px-2 link-dark">Мониторинг</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" class="btn btn-primary" th:value="Выход" \>
                </form>
            </div>
        </header>
    </div>
</header>

<h1>1)</h1>
<h5>Список неактивных пользователей с функцией восстановления:</h5>

<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Users:</span></div>   <!--Вот сюда добавить поиск-->
        <input class="form-control" type="text" placeholder="Введите фамилию, имя, группу или отделение"
               id="search-text" onkeyup="tableSearchStudents()">
        <table class="table table-striped table-hover" id="students-table">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Группа</th>
                <th>Отделение</th>
                <th>Логин</th>
                <th>Доступ</th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="std : ${students}">
                <td th:utext="${std.surname}"></td>
                <td th:utext="${std.name}"></td>
                <td th:utext="${std.middle_name}"></td>
                <td th:utext="${std.group.group_name}"></td>
                <td th:utext="${std.group.department.department_name}"></td>
                <td th:utext="${std.login}"></td>
                <td th:utext="${std.access}"></td>
                <td>
                    <form th:method="PATCH"
                          th:action="@{/management/recovery/recovery-student/{id}(id=${std.student_id})}">
                        <input type="submit" value="Восстановить" class="btn btn-success custom-width">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<h1>2)</h1>
<h5>Список групп с функцией доступа восстановления:</h5>

<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Groups:</span></div>   <!--Вот сюда добавить поиск-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Группа</th>
                <th>Отделение</th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grp : ${groups}">
                <td th:utext="${grp.group_name}"></td>
                <td th:utext="${grp.department.department_name}"></td>
                <td>
                    <form th:method="PATCH" th:action="@{/management/recovery/recovery-group/{id}(id=${grp.group_id})}">
                        <input type="submit" value="Восстановить" class="btn btn-success custom-width">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h1>3)</h1>
<h5>Список отделений с функцией восстановления доступа:</h5>

<div class="generic-container m-5 ">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Departments:</span></div>
        <!--Вот сюда добавить поиск-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Отделение</th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dep : ${departments}">
                <td th:utext="${dep.department_name}"></td>
                <td>
                    <form th:method="PATCH"
                          th:action="@{/management/recovery/recovery-department/{id}(id=${dep.department_id})}">
                        <input type="submit" value="Восстановить" class="btn btn-success custom-width">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light d-flex border-top">
    <div class="col-md-4 mx-auto w-auto justify-content-center">
        <span class="mb-3 mb-md-0 text-muted text-center">© 2023 Пшеничный А.И., ИС-Б19</span>
    </div>
</footer>

</body>
</html>